<nav class="navbar navbar-expand-md" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto">
            <img src="images/miqyasLogo.png" alt="logo" style="height:85px; width: 230px; margin-top: 4rem;">
        </a>
    </div>
</nav>