<!--To be included in all pages to eliminate redundancies-->
<header>
    <nav class="navbar navbar-expand-md p-4" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto">
                <img src="../images/miqyasLogo.png" alt="logo" style="height: auto; width: 200px; margin-left:35%;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav ms-auto">
                    <!--Links may be updated later after routing-->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<hr>