<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./partials/head.ejs")%>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="../stylesheets/courseCards.css">
        <style>
            #welcome {
                margin: 4rem;
                margin-left: 4rem;
                font-size: 18px;
            }

            h2 {
                font-size: 30px;
                font-weight: 600;
            }
        </style>
</head>

<body>
    <%-include("./partials/nav.ejs")%>
        <!--Welcome note that will retrieve the user's name-->
        <!--I'm currently not retreiving this information, so I used X. To be edited later.-->
        <div>
            <table id="welcome" class="table table-borderless">
                <tr>
                    <td>
                        <h2>Welcome, X </h2>
                    </td>
                    <td><strong>Term:</strong> X</td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>Department:</strong> X</td>
                </tr>

            </table>
        </div>

        <!--Courses available to the user will be retrieved from the database and displayed in cards-->
        <!--Currenlty i'm commenting out the code that would dynamically create the card based on the retrieved data, 
        as I do not have access to the database yet. It should be commented out once I firgue out how to retrieve from the database.-->
        
        <div class="container mt-4">
            <div class="card">
                <div class="course-cards">
                    <% courses.forEach(function (course) { %>
                        <div class="card">
                            <h2 class="card-title">
                                <%= course.courseTitle %>
                            </h2>
                            <div class="card-body">
                                <!--NOTE: Links to be adjusted here later in routing.-->
                                <button class="btn custom-button" href="#"  style="width: 100%;">View CLO Assessment Results</button>
                                <button class="btn custom-button" data-bs-toggle="modal"
                                        data-bs-target="#addCLOModal"  style="width: 100%;">Add CLOs</a>
                            </div>
                        </div>

                        <% }) %>
                </div>
            </div>
        </div>

        <!--Modal that will pop up to add CLOs-->
        <div class="modal" id="addCLOModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add CLOs</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered" id="cloTable">
                            <thead>
                                <tr>
                                    <th style="border: none;">CLO Number</th>
                                    <th>CLO Type</th>
                                    <th>CLO Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="insertionPoint">
                                <tr>
                                    <td><input type="number" class="form-control" value="1" readonly
                                            style="border: none;"></td>
                                    <td>
                                        <select class="form-select" id="typeSelect" onchange="selectType()">
                                            <option value="" selected>Type</option>
                                            <option value="Knowledge">Knowledge</option>
                                            <option value="Values">Values</option>
                                            <option value="Skills">Skills</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea rows="1" class="form-control"></textarea>
                                    </td>
                                    <td><button class="btn" style="background-color: #15416e;"
                                            onclick="deleteCLO(this)"><i class="fas fa-times"
                                                style="color: white"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex; justify-content: space-between; margin-top: 1rem;">
                            <p id="validationMessage" style="font-weight: 400; color: #15416e; margin-top: 10px;"></p>
                            <button id="addCLOButton" class="btn custom-button" onclick="addCLO()">Add CLO</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn custom-button" style="width: 100%" onclick="saveCLOs()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="/javascript/addCLOs.js"></script>
</body>

</html>