<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./partials/head.ejs")%>
    <style>
        div{
            background-color: red;
            width: 400px;
            height: 400px;
        }
    </style>
</head>

<body>
    <div></div>
</body>

</html>