<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/view-faculty-department/Software-Engineering/223" method="GET"><button type="submit"></button></form>
  </body>
</html>
