<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indirect Assessment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/indirectAsses.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>

<body>
    <header>
        <%-include(". /partials/nav.ejs")%>
    </header>
    <hr>
    <div class="row container-fluid" style="font-family:Arial, Helvetica, sans-serif">
        <div class="col-md-8">

            <!-- course here should be changed according to ci choice of course -->
            <h2 style="font-weight: 600; margin: 1rem; padding: 1rem;">SE322: Software Design & Architecture - Section
                871</h2>
            <h2 style="font-weight: 400; margin: 1rem; padding: 1rem;">Indirect Assessment</h2>
        </div>
        <div class="col-md-4">
            <!--Add links here later-->
            <h2 style="font-weight: 600; margin-top: 1rem; margin-left: 20%; padding: 1rem; font-size: x-large;">Term
                231</h2>
            <a class="custom-button" href="assessmentTypes.html" style="margin-left: 35%">Back</a>
        </div>
    </div>
    <input type="file" id="myFileInput" style="display: none;">
    <button class="btn custom-button" onclick="showFileInput()">Upload .csv</button>

    <!-- new code here: -->

    <!-- allow upload indirect Assessment allow only .csv file  -->
    <input type="file" id="indirectAsses" accept=".csv">

    <!-- display data of  the uploaded csv in the website  -->
    <div class="container" id="result" style="display: none;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>CLO</th>
                    <th>Not Satisfied</th>
                    <th>Barely Satisfied</th>
                    <th>Somewhat Satisfied</th>
                    <th>Adequetly Satisfied</th>
                    <th>Fully Satisfied</th>
                </tr>
            </thead>
            <tbody id="courseExitSurvey">
                <!-- data rows will be fulled automatically acoording to the uploaded csv -->
            </tbody>
        </table>
        </div>
            <script>
                //fetching data
                async function fetchData() {
                    const response = await fetch('/data');
                    const data = await response.json();
                    const tbody = document.getElementById('courseExitSurvey').getElementsByTagName('tbody')[0];
                    //create rows
                    data.forEach(row => {
                        const newRow = document.createElement('tr');
                        Object.values(row).forEach(cellValue => {
                            const newCell = document.createElement('td');
                            newCell.textContent = cellValue;
                            newRow.appendChild(newCell);
                        });
                        tableBody.appendChild(newRow);

                    });

                }
             window.addEventListener('DOMContentLoaded',fetchData);
            </script>

<!--  Here is the old prototype code: 

            <div class="container" id="result" style="display: none;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>CLO Number</th>
                            <th>Not Satisfied</th>
                            <th>Barely Satisfied</th>
                            <th>Satisfied</th>
                            <th>Adequetly Satisfied</th>
                            <th>Fully Satisfied</th>
                            <th>Achievement Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CLO 1</td>
                            <td>0</td>
                            <td>3</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>CLO 2</td>
                            <td>0</td>
                            <td>3</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                            <td>70%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <script>
                function showFileInput() {
                    var fileInput = document.getElementById('myFileInput');
                    fileInput.click();

                    var resultDiv = document.getElementById('result');
                    resultDiv.style.display = 'block';
                }
            </script> -->
</body>

</html>
