<html>
    <body>
        <select>
            <option>Term</option>
            <option></option>
        </select>
        <select>
            <option>Type of report:</option>
            <!--if u r not dcc, qa, chairperson, course report doesn't show.-->
        </select>
        <select>
            <option>If section-- course?</option>
        </select>
    </body>
</html>