#project,
#majors,
#final {
    padding: 4rem;
    font-weight: 500;
    margin-left: 0;
}

.nav-link:hover {
    color: #15416e;
    background-color: #fff;
}

.nav-link {
    background-color: #15416e;
    color: white;
}