h2{
    font-weight: 600; 
    margin: 1rem; 
    padding: 1rem;
}
.divider{
    width: 90%;
    margin: auto;
}
h3{
    padding: 1rem;
    margin: 1rem;
}
h4{
    font-weight: 400;
    margin: 1rem; 
    padding: 1rem;
    margin-left: 7%;
}
table .headings{
    background-color:#15416e;
    color: white;
    padding: 1rem;
    text-align: center;
}
table .categories{
    text-align: center;
}
.filter{
    width: 70%;
    margin: 1rem;
    margin-top: 2rem;
}
.chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.save{
    width: 10rem;
}

#saveContainer, #addContainer{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}
#saveContainer .custom-button, #addContainer .custom-button{
    padding: 1rem;
    width: 10rem;
}