
        .navbar-nav {
            margin-left: 60%;
        }

        .navbar-nav .nav-link {
            color: #15416e;
            margin: 1rem;
            font-size: large;
            font: weight 500px;
        }

        .custom-button {
            background-color: #15416e;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-family: Arial, sans-serif;
            margin: 0.5rem;
            margin-left: 7%;
            width: 250px;
            text-decoration: none;
        }

        .custom-button:hover {
            background-color: #507eac;
            color: #fff;
            text-decoration: none;
        }

        #project,
        #majors,
        #final {
            padding: 4rem;
            font-weight: 500;
            margin-left: 0;
        }

        .nav-link:hover {
            color: #15416e;
            background-color: #fff;
        }

        .nav-link {
            background-color: #15416e;
            color: white;
        }
